---
import Layout from "../layouts/Layout.astro";
import Hero from "./../components/Hero.astro";
import "@/styles/globals.css";
---

<Layout title="Valentín Ottaviano | Portfolio">
  <main>
    <Hero />
  </main>
</Layout>
