---
interface Props {
  title: string;
  description: string;
  href?: string;
  icon?: string;
}

const { title, description, href }: Props = Astro.props;
import { Card } from "./ui/card";
import { Icon } from "astro-icon/components";
---

<Card
  client:load
  className="p-6 w-full flex gap-x-5 items-center justify-between hover:bg-foreground/5 transition-all"
>
  <div>
    <h2 class="font-semibold text-lg">{title}</h2>
    <p class="text-neutral-500 text-sm font-[400]">{description}</p>
  </div>
  {
    href && (
      <a href={href} target="_blank">
        <Icon
          name="mdi:arrow-top-right"
          class="w-10 text-2xl text-foreground/80"
        />
      </a>
    )
  }
</Card>
